body {
  height: 100%;
  background-color:#F8F9FA;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Poppins';

}
@media screen and (min-width: 55em) {
  body {
    height: 100vh;
    margin: 0;
  }
}